
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Hiq scroll */
}

body {
    background-image: url('../img/Log In.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: 'Brush Script MT', cursive;
    color: black;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    padding: 15px 20px;
    width: 300px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box:focus {
    border-color: #000;
    box-shadow: 0 0 5px #000;
}

.btn {
    padding: 15px 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(0,0,0,0.9);
}
