html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('artist.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-section {
    width: 550px;
    max-height: 90vh;
    padding: 25px 30px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    overflow-y: auto;
}

h1 {
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-row label {
    width: 120px;
    font-weight: bold;
}

.form-row input {
    flex: 1;
    padding: 6px 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-row input {
    margin-right: 8px;
}

/* Preferencat */
.preferences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.pref-item {
    position: relative;
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
}

.pref-item img {
    width: 100%;
    border-radius: 6px;
}

.pref-item span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}

.pref-check {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
